@use "~@wordpress/base-styles/colors" as colors;
@use "~@wordpress/base-styles/variables" as variables;

$vertical-tabs-width: 160px;

.ftb-global-setting-modal {

	@media (min-width: 600px) {
		height: calc(100% - variables.$grid-unit-80 * 2); // 100% - 160px
	}

	@media (min-width: 960px) {
		height: 75%;
	}
}

.ftb-global-setting-modal__tab-panel {

	.components-tab-panel__tabs {
		position: absolute;
		top: variables.$grid-unit-80 + variables.$grid-unit-15;
		left: variables.$grid-unit-20;
		flex-flow: column;
		width: $vertical-tabs-width;

		@media screen and (max-width: 782px) {
			position: static;
			width: 100%;
			margin-bottom: variables.$grid-unit-30;
		}
	}

	.components-tab-panel__tabs-item {

		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		}

		&:focus-visible::before {
			content: none;
		}

		&.is-active {
			background: colors.$gray-100;

			&::after {
				content: none;
			}
		}
	}

	.components-tab-panel__tab-content {
		padding-left: variables.$grid-unit-30;
		margin-left: $vertical-tabs-width;

		@media screen and (max-width: 782px) {
			padding-left: 0;
			margin-left: 0;
		}
	}
}

.ftb-global-setting-modal__styles-item {
	width: calc(50% - variables.$grid-unit-05);
	border: variables.$border-width var(--wp-admin-theme-color) solid;

	@media screen and (max-width: 782px) {
		width: 100%;
	}
}

.ftb-global-setting-modal__buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	height: variables.$grid-unit-70;
	background: colors.$white;
	z-index: 2;
}

.ftb-global-setting-modal__confirm-popover {
	white-space: nowrap;
}

.ftb-global-setting-modal__notice {
	position: absolute !important;
	right: variables.$grid-unit-30;
	bottom: variables.$grid-unit-70;
	left: variables.$grid-unit-30;
	z-index: 6;
}

.ftb-global-setting-modal__loading {
	position: absolute;
	inset: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(colors.$black, 0.2);
}
