@use "~@wordpress/base-styles/colors" as colors;
@use "~@wordpress/base-styles/variables" as variables;

$footer-height: variables.$grid-unit-70; // 56px

.ftb-global-setting-modal {

	@media (min-width: 600px) {
		height: calc(100% - variables.$grid-unit-80 * 2); // 100% - 160px
	}

	@media (min-width: 960px) {
		height: 75%;
	}

	.components-modal__content {
		margin-bottom: 100px;
	}
}

.ftb-global-setting-modal__tab-panel {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: variables.$grid-unit-30;

	@media screen and (max-width: 782px) {
		flex-direction: column;
	}

	[role="tablist"] {
		width: 190px;
		position: sticky;
		top: 0;
		background: colors.$white;
		z-index: 1;

		@media screen and (max-width: 782px) {
			width: 100%;
		}
	}

	[role="tabpanel"] {
		flex: 1;
		width: 100%;
	}
}

.ftb-global-setting-modal__styles-item {
	border: variables.$border-width var(--wp-admin-theme-color) solid;
	padding: variables.$grid-unit-10;
}

.ftb-global-setting-modal__buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $footer-height;
	padding-right: variables.$grid-unit-30; // 24px
	padding-left: variables.$grid-unit-30; // 24px
	background: colors.$white;
	z-index: 2;
}

.ftb-global-setting-modal__confirm-popover {
	white-space: nowrap;
}

.ftb-global-setting-modal__notice {
	position: absolute !important;
	right: variables.$grid-unit-30;
	bottom: $footer-height;
	left: variables.$grid-unit-30;
	z-index: 6;
}

.ftb-global-setting-modal__loading {
	position: absolute;
	inset: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(colors.$black, 0.2);
}
