// Linked button common styles.
.ftb-border-width-control__header-linked-button,
.ftb-padding-control__header-linked-button,
.ftb-color-control__header-linked-button {

	&.components-button {
		display: block;
	}
}

// Header control styles.
.ftb-border-width-control__header-control,
.ftb-padding-control__header-control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 40px !important;

	.components-unit-control-wrapper {
		max-width: 104px;
		margin-right: auto;
		margin-bottom: 0;
	}
}

// Input controls styles.
.ftb-border-width-control__input-controls,
.ftb-padding-control__input-controls {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 8px;

	.components-unit-control-wrapper.components-unit-control-wrapper {
		margin-bottom: 0;
	}

	.components-unit-control-wrapper {

		&:nth-child(1) {
			margin: 0 auto;
			max-width: 116px;
			grid-column: span 2;
		}

		&:nth-child(2) {
			grid-row: 2;
			grid-column: 2;
		}

		&:nth-child(3) {
			margin: 0 auto;
			max-width: 116px;
			grid-column: span 2;
		}

		&:nth-child(4) {
			grid-row: 2;
			grid-column: 1;
		}
	}
}

// Color indicator button styles.
.ftb-color-indicator-button {
	position: relative;
	justify-content: center;
	height: 24px;

	.component-color-indicator {
		position: relative;
		flex: 1;
		height: 100%;
		margin: 0;
		border-radius: 50%;
	}

	&:not(.is-mixed) {
		width: 24px;
		padding: 0;
		border-radius: 50%;
	}

	&.is-mixed {
		padding-right: 4px;
		padding-left: 4px;
	}

	&.is-none,
	&.is-transparent {

		.component-color-indicator::before {
			position: absolute;
			top: 1px;
			right: 1px;
			bottom: 1px;
			left: 1px;
			content: "";
			border-radius: 50%;
		}
	}

	&.is-none .component-color-indicator::before {
		background-color: #fff;
		background-image: linear-gradient(to left top, transparent 48%, #cc1818 calc(48% + 1px), #cc1818 calc(52% - 1px), transparent 52%);
	}

	&.is-transparent .component-color-indicator::before {
		z-index: -1;
		/* stylelint-disable-next-line function-url-quotes */
		background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8V6H4v2h2zm2 0V6h2v2H8zm2 8H8v-2h2v2zm2 0v-2h2v2h-2zm0 2v-2h-2v2H8v2h2v-2h2zm2 0v2h-2v-2h2zm2 0h-2v-2h2v2z' fill='%23555D65'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 18h2v-2h-2v-2h2v-2h-2v-2h2V8h-2v2h-2V8h-2v2h2v2h-2v2h2v2h2v2zm-2-4v-2h2v2h-2z' fill='%23555D65'/%3E%3Cpath d='M18 18v2h-2v-2h2z' fill='%23555D65'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 10V8H6v2H4v2h2v2H4v2h2v2H4v2h2v2H4v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h2V4h-2v2h-2V4h-2v2h-2V4h-2v2h-2V4h-2v2h2v2h-2v2H8zm0 2v-2H6v2h2zm2 0v-2h2v2h-2zm0 2v-2H8v2H6v2h2v2H6v2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h-2v2h-2V6h-2v2h-2v2h2v2h-2v2h-2z' fill='%23555D65'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 0H2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v2H0v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h2V4h-2V2h2V0h-2v2h-2V0h-2v2h-2V0h-2v2h-2V0h-2v2h-2V0h-2v2H8V0H6v2H4V0zm0 4V2H2v2h2zm2 0V2h2v2H6zm0 2V4H4v2H2v2h2v2H2v2h2v2H2v2h2v2H2v2h2v2H2v2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2V8h-2V6h2V4h-2V2h-2v2h-2V2h-2v2h-2V2h-2v2h-2V2h-2v2H8v2H6z' fill='%23555D65'/%3E%3C/svg%3E");
	}
}
