.wp-block-flexible-table-block-table {

	&.is-selected.show-section-label {

		thead,
		tbody,
		tfoot {
			position: relative;

			&:not(:empty)::before {
				position: absolute;
				top: 0;
				left: 0;
				padding: 0 4px;
				color: #fff;
				font-size: 10px;
				background: var(--wp-admin-theme-color);
			}
		}

		thead:not(:empty)::before {
			content: "<thead>";
		}

		tbody:not(:empty)::before {
			content: "<tbody>";
		}

		tfoot:not(:empty)::before {
			content: "<tfoot>";
		}
	}
}

.ftb-button-group {
	display: block;

	.components-button {
		vertical-align: top;
	}
}

.ftb-percent-group {
	margin-top: 8px;
}

.ftb-border-radius-control,
.ftb-border-width-control,
.ftb-border-style-control,
.ftb-border-color-control {

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 12px;
	}
}

.ftb-border-radius-control,
.ftb-border-width-control {

	&__header-control {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 30px;

		.components-unit-control-wrapper {
			max-width: 80px;
			margin-right: auto;
		}
	}

	&__input-controls {
		display: flex;
		padding-top: 8px;

		.components-unit-control-wrapper {
			max-width: 60px;
			margin-left: -1px;

			.components-input-control {
				border-radius: 0;
			}

			&:first-child .components-input-control {
				border-radius: 2px 0 0 2px;
			}

			&:last-child .components-input-control {
				border-radius: 0 2px 2px 0;
			}
		}
	}
}

.ftb-border-style-control {

	&__button-controls {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__button-controls-row {
		display: flex;

		&:not(:first-child) {
			padding-top: 8px;
		}
	}
}

.ftb-border-color-control {

	&__controls {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__controls-row {
		display: flex;
		align-items: center;

		&:not(:first-child) {
			padding-top: 8px;
		}
	}

	&__indicator {
		width: 40px;
		height: 20px;
		margin-left: 16px;
		padding: 0;

		.component-color-indicator {
			flex: 1;
			height: 100%;
			margin: 0;
		}
	}

	&__popover .components-popover__content {
		padding: 16px;
	}
}

.ftb-placeholder {

	&__table-wrap {
		flex: 1;
	}

	&__table {
		text-align: center;
		vertical-align: middle;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 3px;

		th,
		td {
			padding: 0 !important;
		}

		thead th,
		tfoot td {
			background: var(--wp-admin-theme-color);
		}

		tbody td {
			border: 1px #1e1e1e solid;
		}


		&.is-overflow-col tr *:nth-last-child(2) {
			position: relative;
			background-color: transparent;
			border: none;

			&::before {
				display: block;
				line-height: 0;
				content: "...";
			}
		}

		&.is-overflow-row {

			tbody tr:nth-last-child(2) td {
				position: relative;
				border: none;

				&::before {
					display: block;
					line-height: 0;
					content: "...";
				}
			}
		}
	}

	&__form {
		display: block !important;
		flex-wrap: nowrap;

		.components-base-control {
			width: 100px;

			&.components-toggle-control {
				width: auto;
			}
		}

		.components-base-control__field {
			margin-right: 8px;
			margin-bottom: 0;

			.components-text-control__input {
				height: 36px;
			}
		}
	}

	&__row {
		display: flex;
		align-items: flex-end;
		margin-top: 16px;
	}
}

.ftb-global-setting {
	padding: 0 16px 16px 16px;

	.components-button {
		display: block;
		margin-left: auto;
	}
}

.ftb-global-setting-modal {

	hr {
		margin: 1em 0;
	}

	.components-modal__content {
		margin-bottom: 60px;
		padding-bottom: 30px;
	}

	.components-base-control {
		margin-bottom: 16px;
	}

	.CodeMirror {
		height: 200px;
		border: 1px solid #dcdcde;
	}

	&__buttons {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 60px;
		padding: 0 24px;
		background: #fff;
	}

	&__confirm-popover .components-popover__content {
		min-width: 150px;
		padding: 8px;

		p {
			margin: 0 0 1em;
		}
	}

	&__confirm-popover-buttons {
		display: flex;
		justify-content: space-between;
	}

	&__notice {
		position: absolute !important;
		right: 24px;
		bottom: 60px;
		left: 24px;
		z-index: 5;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;

		&.is-dismissible {
			padding-right: 8px;

			svg {
				width: 16px;
				height: 16px;
			}
		}

		.components-button {
			align-self: center;
		}
	}

	&__loading {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.2);
	}
}
