.wp-block-flexible-table-block-table {

	margin-top: 0;
	margin-right: 0;
	margin-left: 0;

	> table {

		&.has-fixed-layout {
			table-layout: fixed;
		}

		&.is-sticky-header thead th {
			position: sticky;
			top: 0;
			z-index: 1;
		}

		&.is-sticky-first-column tr > *:first-child {
			position: sticky;
			left: 0;
			z-index: 1;
		}

		th,
		td {
			box-sizing: border-box;
		}
	}

	&.is-content-justification-left,
	&.is-content-justification-center,
	&.is-content-justification-right {
		display: flex;
		flex-flow: column;

		figcaption {
			align-self: stretch;
		}
	}

	&.is-content-justification-left {
		align-items: flex-start;
	}

	&.is-content-justification-center {
		align-items: center;
	}

	&.is-content-justification-right {
		align-items: flex-end;
	}
}
