.wp-block-flexible-table-block-table {

	.has-fixed-layout {
		table-layout: fixed;

		td,
		th {
			word-break: break-word;
		}
	}

	.is-sticky-header thead th {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	th,
	td {

		&[data-valign="top"] {
			vertical-align: top;
		}

		&[data-valign="middle"] {
			vertical-align: middle;
		}

		&[data-valign="bottom"] {
			vertical-align: bottom;
		}

		&[data-halign="left"] {
			text-align: left;
		}

		&[data-halign="center"] {
			text-align: center;
		}

		&[data-halign="right"] {
			text-align: right;
		}
	}

	figcaption {

		&[data-align="left"] {
			text-align: left;
		}

		&[data-align="center"] {
			text-align: center;
		}

		&[data-align="right"] {
			text-align: right;
		}
	}
}
